@use "variabels" as *;
@use "mixins" as m;
html {
  font-size: 100%;
}
body {
  font-family: $poppins;
  background-color: var(--color-background-body);
  color: var(--color-main-text);
  line-height: 1.2;
}
::selection {
  color: var(--color-background-body);
  background: var(--color-background-active);
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
ul {
  list-style: none;
}
a:active,
a:focus,
a:visited,
button,
.button {
  border: none;
  outline: none;
  cursor: pointer;
}

.opacity-1 {
  opacity: 1 !important;
}

.container {
  @media (min-width: 2329px) {
    max-width: 1815px;
  }
}

section {
  padding-block: 60px;
}

.caret {
  opacity: 1;
  animation: blinking 1s infinite;
  &__h1 {
    color: var(--color-main-text);
  }
  &__h2 {
    color: var(--color-background-active);
  }
}
@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
